// app global css in SCSS form

.logo-landing {
  width: 140px;
  height: 140px;
}

.identify-page {
  h2,
  .q-toggle__label {
    color: $grey-4;
  }

  @media(min-width: $breakpoint-xs-max) {
    > .column {
      height: 922px;
    }
  }
}

.holds_list {
  .q-fab__icon-holder {
    display: none;
  }

  .q-fab__label.q-fab__label--internal.q-fab__label--internal-left {
    padding: 0;
  }
}

#route-view .q-stepper__step-inner {
  padding: 0;
}
